<section>
  <div class="container">
    Test section.
  </div>
</section>


{% schema %}
  {
    "name": "Configurator Landing",
    "settings": [],
    "presets": [
      {
        "name": "Configurator Landing"
      }
    ]
  }
{% endschema %}